@model List<EditableWebgrid.Models.UserModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .edit-mode { }
    .edit-user{}
    .edit-user display-mode{}
    .save-user edit-mode{}
    .display-mode{}
    .cancel-user{}
    .webgrid-table
    {
        font-family: Arial,Helvetica,sans-serif;
        font-size: 14px;
        font-weight: normal;
        width: 650px;
        display: table;
        border-collapse: collapse;
        border: solid px #C5C5C5;
        background-color: white;
    }
    .webgrid-table td, th
    {
        border: 1px solid #C5C5C5;
        padding: 3px 7px 2px;
    }
    .webgrid-header, .webgrid-header a
    {
        background-color: #E3E3E3;
        color: black;
        text-align: left;
        text-decoration:none;
    }
    .webgrid-footer
    {
    }
    .webgrid-row-style
    {
        padding: 3px 7px 2px;
    }
    .webgrid-alternating-row
    {
        background-color: #F5F5F5;
        padding: 3px 7px 2px;
    }
    .col1Width
    {
        width: 50px;
    }
    .col2Width
    {
        width: 200px;
    }
</style>

<script type="text/javascript" >
    $(function () {
        $('.edit-mode').hide();
        $('.edit-user, .cancel-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit-mode, .display-mode').toggle();
        });

        $('.save-user').on('click', function () {
            var tr = $(this).parents('tr:first');
            var Name = tr.find("#txtName").val();
            var Records = tr.find("#txtRecords").val();
            var UserID = tr.find("#UserID").html();
            var Complete = tr.find("#txtComplete").val();

            tr.find("#lblOperator").text(Name);
            tr.find("#lblRecords").text(Records);
            tr.find("#lblComplete").text(Complete);

            tr.find('.edit-mode, .display-mode').toggle();
            var UserModel =
            {
                "Complete": Complete,
                "Operator": Operator,
                "Records": Records,
                "DateComp": DateComp

            };
            $.ajax({
                url: '/User/ChangeUser/',
                data: JSON.stringify(UserModel),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    alert(data);
                }
            });

        });
    })
</script>

<h2>Automation</h2>
@{
    var grid = new WebGrid(Model);
}

<div  id="gridContent" style="padding:20px;" >
    <table class="webgrid-table">
    <thead>
        <tr class="webgrid-header">
            <th scope="col">
<a href="/?sort=File+Name&amp;sortdir=ASC">File&nbsp;Name</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th>
            <th scope="col">
<a href="/?sort=Date+Received&amp;sortdir=ASC">Date Received</a>            </th>
            <th scope="col">
<a href="/?sort=Complete&amp;sortdir=ASC">Complete</a>            </th>
            <th scope="col">
<a href="/?sort=Operator&amp;sortdir=ASC">Operator</a>            </th>
            <th scope="col">
<a href="/?sort=Records&amp;sortdir=ASC">Records</a>            </th>
            <th scope="col">
<a href="/?sort=DateComp&amp;sortdir=ASC">Date Completed</a>            </th>
            <th scope="col">
Action            </th>
        </tr>
    </thead>
    <tfoot>
        <tr class="webgrid-footer">
            <td colspan="7">1 <a href="/?page=2">2</a> <a href="/?page=3">3</a> <a href="/?page=2">&gt;</a> <a href="/?page=3">&gt;&gt;</a></td>
        </tr>
    </tfoot>
    <tbody>
        <tr class="webgrid-row-style">
            <td class="col1Width">  <span class="display-mode">Roeno.pdf </span> <label class="edit-mode" id="FileName" style="display: none;">Roeno.pdf</label> </td>
            <td class="col1Width">  <span class="display-mode">4/13/2017 12:00:00 AM </span> <label class="edit-mode" id="FileName" style="display: none;">4/13/2017 12:00:00 AM</label> </td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblComplete">Yes</label> </span> <input class="edit-mode" id="txtComplete" style="display: none;" type="text" value="Yes"></td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblOperator">Sam</label> </span> <input class="edit-mode" id="txtName" style="display: none;" type="text" value="Sam"></td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblRecords">121</label> </span>  <input class="edit-mode" id="txtRecords" style="display: none;" type="text" value="121"> </td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblDate">4/13/2017 12:00:00 AM</label> </span>  <input class="edit-mode" id="Date Received" style="display: none;" type="text" value="4/13/2017 12:00:00 AM"> </td>
            <td class="col3Width">
                                <button class="edit-user display-mode">Edit</button>
                                <button class="save-user edit-mode" style="display: none;">Save</button>
                                <button class="cancel-user edit-mode" style="display: none;">Cancel</button>
                            </td>
        </tr>
        <tr class="webgrid-alternating-row">
            <td class="col1Width">  <span class="display-mode">THaBE.pdf </span> <label class="edit-mode" id="FileName" style="display: none;">THaBE.pdf</label> </td>
            <td class="col1Width">  <span class="display-mode">4/13/2017 12:00:00 AM </span> <label class="edit-mode" id="FileName" style="display: none;">4/13/2017 12:00:00 AM</label> </td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblComplete">No</label> </span> <input class="edit-mode" id="txtComplete" style="display: none;" type="text" value="No"></td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblOperator">Dan</label> </span> <input class="edit-mode" id="txtName" style="display: none;" type="text" value="Dan"></td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblRecords">129</label> </span>  <input class="edit-mode" id="txtRecords" style="display: none;" type="text" value="129"> </td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblDate">4/13/2017 12:00:00 AM</label> </span>  <input class="edit-mode" id="Date Received" style="display: none;" type="text" value="4/13/2017 12:00:00 AM"> </td>
            <td class="col3Width">
                                <button class="edit-user display-mode">Edit</button>
                                <button class="save-user edit-mode" style="display: none;">Save</button>
                                <button class="cancel-user edit-mode" style="display: none;">Cancel</button>
                            </td>
        </tr>
        <tr class="webgrid-row-style">
            <td class="col1Width">  <span class="display-mode">Roeno.pdf </span> <label class="edit-mode" id="FileName" style="display: none;">Roeno.pdf</label> </td>
            <td class="col1Width">  <span class="display-mode">4/13/2017 12:00:00 AM </span> <label class="edit-mode" id="FileName" style="display: none;">4/13/2017 12:00:00 AM</label> </td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblComplete">Yes</label> </span> <input class="edit-mode" id="txtComplete" style="display: none;" type="text" value="Yes"></td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblOperator">Sam</label> </span> <input class="edit-mode" id="txtName" style="display: none;" type="text" value="Sam"></td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblRecords">121</label> </span>  <input class="edit-mode" id="txtRecords" style="display: none;" type="text" value="121"> </td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblDate">4/13/2017 12:00:00 AM</label> </span>  <input class="edit-mode" id="Date Received" style="display: none;" type="text" value="4/13/2017 12:00:00 AM"> </td>
            <td class="col3Width">
                                <button class="edit-user display-mode">Edit</button>
                                <button class="save-user edit-mode" style="display: none;">Save</button>
                                <button class="cancel-user edit-mode" style="display: none;">Cancel</button>
                            </td>
        </tr>
        <tr class="webgrid-alternating-row">
            <td class="col1Width">  <span class="display-mode">THaBE.pdf </span> <label class="edit-mode" id="FileName" style="display: none;">THaBE.pdf</label> </td>
            <td class="col1Width">  <span class="display-mode">4/13/2017 12:00:00 AM </span> <label class="edit-mode" id="FileName" style="display: none;">4/13/2017 12:00:00 AM</label> </td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblComplete">No</label> </span> <input class="edit-mode" id="txtComplete" style="display: none;" type="text" value="No"></td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblOperator">Dan</label> </span> <input class="edit-mode" id="txtName" style="display: none;" type="text" value="Dan"></td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblRecords">129</label> </span>  <input class="edit-mode" id="txtRecords" style="display: none;" type="text" value="129"> </td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblDate">4/13/2017 12:00:00 AM</label> </span>  <input class="edit-mode" id="Date Received" style="display: none;" type="text" value="4/13/2017 12:00:00 AM"> </td>
            <td class="col3Width">
                                <button class="edit-user display-mode">Edit</button>
                                <button class="save-user edit-mode" style="display: none;">Save</button>
                                <button class="cancel-user edit-mode" style="display: none;">Cancel</button>
                            </td>
        </tr>
        <tr class="webgrid-row-style">
            <td class="col1Width">  <span class="display-mode">Roeno.pdf </span> <label class="edit-mode" id="FileName" style="display: none;">Roeno.pdf</label> </td>
            <td class="col1Width">  <span class="display-mode">4/13/2017 12:00:00 AM </span> <label class="edit-mode" id="FileName" style="display: none;">4/13/2017 12:00:00 AM</label> </td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblComplete">Yes</label> </span> <input class="edit-mode" id="txtComplete" style="display: none;" type="text" value="Yes"></td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblOperator">Sam</label> </span> <input class="edit-mode" id="txtName" style="display: none;" type="text" value="Sam"></td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblRecords">121</label> </span>  <input class="edit-mode" id="txtRecords" style="display: none;" type="text" value="121"> </td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblDate">4/13/2017 12:00:00 AM</label> </span>  <input class="edit-mode" id="Date Received" style="display: none;" type="text" value="4/13/2017 12:00:00 AM"> </td>
            <td class="col3Width">
                                <button class="edit-user display-mode">Edit</button>
                                <button class="save-user edit-mode" style="display: none;">Save</button>
                                <button class="cancel-user edit-mode" style="display: none;">Cancel</button>
                            </td>
        </tr>
        <tr class="webgrid-alternating-row">
            <td class="col1Width">  <span class="display-mode">THaBE.pdf </span> <label class="edit-mode" id="FileName" style="display: none;">THaBE.pdf</label> </td>
            <td class="col1Width">  <span class="display-mode">4/13/2017 12:00:00 AM </span> <label class="edit-mode" id="FileName" style="display: none;">4/13/2017 12:00:00 AM</label> </td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblComplete">No</label> </span> <input class="edit-mode" id="txtComplete" style="display: none;" type="text" value="No"></td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblOperator">Dan</label> </span> <input class="edit-mode" id="txtName" style="display: none;" type="text" value="Dan"></td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblRecords">129</label> </span>  <input class="edit-mode" id="txtRecords" style="display: none;" type="text" value="129"> </td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblDate">4/13/2017 12:00:00 AM</label> </span>  <input class="edit-mode" id="Date Received" style="display: none;" type="text" value="4/13/2017 12:00:00 AM"> </td>
            <td class="col3Width">
                                <button class="edit-user display-mode">Edit</button>
                                <button class="save-user edit-mode" style="display: none;">Save</button>
                                <button class="cancel-user edit-mode" style="display: none;">Cancel</button>
                            </td>
        </tr>
        <tr class="webgrid-row-style">
            <td class="col1Width">  <span class="display-mode">Roeno.pdf </span> <label class="edit-mode" id="FileName" style="display: none;">Roeno.pdf</label> </td>
            <td class="col1Width">  <span class="display-mode">4/13/2017 12:00:00 AM </span> <label class="edit-mode" id="FileName" style="display: none;">4/13/2017 12:00:00 AM</label> </td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblComplete">Yes</label> </span> <input class="edit-mode" id="txtComplete" style="display: none;" type="text" value="Yes"></td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblOperator">Sam</label> </span> <input class="edit-mode" id="txtName" style="display: none;" type="text" value="Sam"></td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblRecords">121</label> </span>  <input class="edit-mode" id="txtRecords" style="display: none;" type="text" value="121"> </td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblDate">4/13/2017 12:00:00 AM</label> </span>  <input class="edit-mode" id="Date Received" style="display: none;" type="text" value="4/13/2017 12:00:00 AM"> </td>
            <td class="col3Width">
                                <button class="edit-user display-mode">Edit</button>
                                <button class="save-user edit-mode" style="display: none;">Save</button>
                                <button class="cancel-user edit-mode" style="display: none;">Cancel</button>
                            </td>
        </tr>
        <tr class="webgrid-alternating-row">
            <td class="col1Width">  <span class="display-mode">THaBE.pdf </span> <label class="edit-mode" id="FileName" style="display: none;">THaBE.pdf</label> </td>
            <td class="col1Width">  <span class="display-mode">4/13/2017 12:00:00 AM </span> <label class="edit-mode" id="FileName" style="display: none;">4/13/2017 12:00:00 AM</label> </td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblComplete">No</label> </span> <input class="edit-mode" id="txtComplete" style="display: none;" type="text" value="No"></td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblOperator">Dan</label> </span> <input class="edit-mode" id="txtName" style="display: none;" type="text" value="Dan"></td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblRecords">129</label> </span>  <input class="edit-mode" id="txtRecords" style="display: none;" type="text" value="129"> </td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblDate">4/13/2017 12:00:00 AM</label> </span>  <input class="edit-mode" id="Date Received" style="display: none;" type="text" value="4/13/2017 12:00:00 AM"> </td>
            <td class="col3Width">
                                <button class="edit-user display-mode">Edit</button>
                                <button class="save-user edit-mode" style="display: none;">Save</button>
                                <button class="cancel-user edit-mode" style="display: none;">Cancel</button>
                            </td>
        </tr>
        <tr class="webgrid-row-style">
            <td class="col1Width">  <span class="display-mode">Roeno.pdf </span> <label class="edit-mode" id="FileName" style="display: none;">Roeno.pdf</label> </td>
            <td class="col1Width">  <span class="display-mode">4/13/2017 12:00:00 AM </span> <label class="edit-mode" id="FileName" style="display: none;">4/13/2017 12:00:00 AM</label> </td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblComplete">Yes</label> </span> <input class="edit-mode" id="txtComplete" style="display: none;" type="text" value="Yes"></td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblOperator">Sam</label> </span> <input class="edit-mode" id="txtName" style="display: none;" type="text" value="Sam"></td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblRecords">121</label> </span>  <input class="edit-mode" id="txtRecords" style="display: none;" type="text" value="121"> </td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblDate">4/13/2017 12:00:00 AM</label> </span>  <input class="edit-mode" id="Date Received" style="display: none;" type="text" value="4/13/2017 12:00:00 AM"> </td>
            <td class="col3Width">
                                <button class="edit-user display-mode">Edit</button>
                                <button class="save-user edit-mode" style="display: none;">Save</button>
                                <button class="cancel-user edit-mode" style="display: none;">Cancel</button>
                            </td>
        </tr>
        <tr class="webgrid-alternating-row">
            <td class="col1Width">  <span class="display-mode">THaBE.pdf </span> <label class="edit-mode" id="FileName" style="display: none;">THaBE.pdf</label> </td>
            <td class="col1Width">  <span class="display-mode">4/13/2017 12:00:00 AM </span> <label class="edit-mode" id="FileName" style="display: none;">4/13/2017 12:00:00 AM</label> </td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblComplete">No</label> </span> <input class="edit-mode" id="txtComplete" style="display: none;" type="text" value="No"></td>
            <td class="col2Width">  <span class="display-mode"> <label id="lblOperator">Dan</label> </span> <input class="edit-mode" id="txtName" style="display: none;" type="text" value="Dan"></td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblRecords">129</label> </span>  <input class="edit-mode" id="txtRecords" style="display: none;" type="text" value="129"> </td>
            <td class="col2Width"> <span class="display-mode"> <label id="lblDate">4/13/2017 12:00:00 AM</label> </span>  <input class="edit-mode" id="Date Received" style="display: none;" type="text" value="4/13/2017 12:00:00 AM"> </td>
            <td class="col3Width">
                                <button class="edit-user display-mode">Edit</button>
                                <button class="save-user edit-mode" style="display: none;">Save</button>
                                <button class="cancel-user edit-mode" style="display: none;">Cancel</button>
                            </td>
        </tr>
    </tbody>
    </table>

</div>